<?xml version="1.0" encoding="UTF-8"?>
<menu>
	<pizza>
		<name>Veggie-Pizza</name>
		<base>	
			<ingredient>
				<name>Pasta</name>
				<category>Pasta</category>
				<unit>grams</unit>
				<calories>131</calories>
				<description>tiny</description>
			</ingredient>
		</base>
		<topping>
			<ingredient>
				<name>spinach</name>
				<category>vegetal</category>
				<unit>grams</unit>
				<calories>23</calories>
				<description>Fresh</description>
			</ingredient>
			<ingredient>
				<name>cheese</name>
				<category>Dairy</category>
				<unit>grams</unit>
				<calories>300</calories>
				<description>Cheddar</description>
			</ingredient>
			<ingredient>
				<name>tomato sauce</name>
				<category>Sauce</category>
				<unit>milliliters</unit>
				<calories>18</calories>
				<description>Spicy</description>
			</ingredient>
		</topping>
		<price currency="€">
			<small>6,00</small>
			<medium>8,00</medium>
			<big>12,00</big>
		</price>
	</pizza>
	<pizza>
		<name>Mozzarella-Pizza</name>
		<base>crispy</base>
		<topping>
			<ingredient>
				<name>cheese</name>
				<category>Dairy</category>
				<unit>grams</unit>
				<calories>300</calories>
				<description>Cheddar</description>
			</ingredient>
			<ingredient>
				<name>oregano</name>
				<category>Herb</category>
				<unit>grams</unit>
				<calories>265</calories>
				<description>Dried</description>
			</ingredient>
			<ingredient>
				<name>onion sauce</name>
				<category>Sauce</category>
				<unit>milliliters</unit>
				<calories>92</calories>
				<description>W/ Herbs</description>
			</ingredient>
		</topping>
		<price currency="€">
			<small>7,00</small>
			<medium>8,50</medium>
			<big>13,00</big>
		</price>
	</pizza>
	<pizza>
		<name>Meat-Pizza</name>
		<base>lean</base>
		<topping>
			<ingredient>
				<name>chicken</name>
				<category>Meat</category>
				<unit>grams</unit>
				<calories>239</calories>
				<description>Roasted</description>
			</ingredient>
			<ingredient>
				<name>oregano</name>
				<category>Herb</category>
				<unit>grams</unit>
				<calories>265</calories>
				<description>Dried</description>
			</ingredient>
			<ingredient>
				<name>tomato sauce</name>
				<category>Sauce</category>
				<unit>milliliters</unit>
				<calories>18</calories>
				<description>Spicy</description>
			</ingredient>
		</topping>
		<price currency="€">
			<small>6,00</small>
			<medium>9,00</medium>
			<big>12,50</big>
		</price>
	</pizza>
	<pizza>
		<name>ESTG-Pizza</name>
		<base>Tiny</base>
		<topping>
			<ingredient>
				<name>spinach</name>
				<category>vegetal</category>
				<unit>grams</unit>
				<calories>23</calories>
				<description>Fresh</description>
			</ingredient>
			<ingredient>
				<name>cheese</name>
				<category>Dairy</category>
				<unit>grams</unit>
				<calories>300</calories>
				<description>Cheddar</description>
			</ingredient>
			<ingredient>
				<name>tomato sauce</name> 
				<category>Sauce</category>
				<unit>milliliters</unit>
				<calories>18</calories>
				<description>Spicy</description>
			</ingredient>
			<ingredient>
				<name>chicken</name>
				<category>Meat</category>
				<unit>grams</unit>
				<calories>239</calories>
				<description>Roasted</description>
			</ingredient>
		</topping>
		<price currency="€">
			<small>6,00</small>
			<medium>8,50</medium>
			<big>15,00</big>
		</price>
	</pizza>
</menu>